.deslizador {
  width: 40%;
  max-height:30%;
  margin: auto;
  overflow: hidden;


}

.deslizador ul {
  display: flex;
  padding: 0;
  width: 500%;
  height: 50%;
  animation: cambio 15s infinite alternate;
  animation-timing-function: ease-out;
}

.deslizador li {
  width: 50%;
  list-style: none;
}

.deslizador img {
  width: 100%;
  height: 70%;
}

@keyframes cambio {
    0% { margin-left: 0; }
    15% { margin-left: 0; }

    20% { margin-left: -100%; }
    35% { margin-left: -100%; }

    40% { margin-left: -200%; }
    55% { margin-left: -200%; }

    60% { margin-left: -300%; }
    75% { margin-left: -300%; }

    80% { margin-left: -400%; }
    100% { margin-left: -400%; }
}
#capa1{
z-index: 1;
top: 0px;
}
#capa2{
z-index: 0;

}
